/* 
Palete
white : #eeeeee
primary : #32e0c4
black-fade : #393e46
black-dark: #222831 
*/

/* -----------------------variables----------------------- */

:root {
  --main-bg-white: #eeeeee;
  --color-primary: #32e0c4;
  --color-black-light: #393e46;
  --color-black-dark: #222831;
}

/*-----------------------standard css-----------------------  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Almarai", sans-serif;
  color: var(--main-bg-white);
  font-weight: 300;
  line-height: 1.6;
  background-color: var(--color-black-dark);
}

h2,
h3,
p {
  width: fit-content;
  margin: 2px;
}

h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 1.8rem;
}
p {
  font-size: 1.2rem;
}

.App {
  display: flex;
  flex-direction: column;

  width: 100vw;

  padding: 0 2.3rem;
  background-color: var(--color-black-dark);
}

.search__container {
  width: 75vw;
  height: 5rem;

  display: flex;
  align-self: center;

  border-radius: 0 0 1rem 1rem;
  background: #222831;
  box-shadow: inset 10px 10px 10px #1e232b, inset -10px -10px 10px #262d37;
  margin-bottom: 2rem;
}

.search__input {
  width: 100%;
  font-size: 1.8rem;
  padding: 1rem;
  background-color: transparent;
  border: none;
  margin-right: 3px;
  color: var(--main-bg-white);
}

.search__input::placeholder {
  color: var(--main-bg-white);
}
.search__input:focus {
  border: none;
  color: var(--main-bg-white);
}
.btn__search {
  width: 5rem;
  height: 5rem;
  border-radius: 0 0 1rem 0;
  border: none;
  background: linear-gradient(145deg, #242b34, #1f242c);
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("./assets//SVG/sections/search.svg"); */
}
.btn__icon {
  font-size: 2.4rem;
  color: var(--main-bg-white);
}

/* Location section */
.main__container {
  width: 100%;
  margin-bottom: 3rem;
}
.Location__container {
  margin-bottom: 2rem;
}
.weather__container {
  width: 25rem;
  height: 25rem;

  padding: 2.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  border-radius: 10px;
  background: #222831;
  box-shadow: 10px 10px 20px #1d222a, -10px -10px 20px #272e38;
}
.weather__icon {
  width: 10rem;
  height: 10rem;
  background-size: contain;
}

/*----------------------- Extras component -----------------------*/
.container {
  padding: 0.5rem;
  margin: 3rem 0;

  border-radius: 10px;
  background: #222831;
  box-shadow: 10px 10px 20px #1d222a, -10px -10px 20px #272e38;
}
.extras__grid_body {
  display: grid;
  grid-template-columns: repeat(3, 7.5rem);
  grid-column-gap: 20px;
  justify-content: center;
}
.list__item {
  width: 100%;
  height: 7.5rem;
  margin: 1rem 0;
  padding: 5px 0 2px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: center;

  border-radius: 10px;
  background: #222831;
  box-shadow: 5px 5px 10px #1b2027, -5px -5px 10px #29303b;
}

.overflow_stop {
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}

/* ----------------------- UV component ----------------------- */
.graph_container {
  width: 100%;
}
.bar__body {
  width: 100%;
  height: 20px;
  background-color: black;
  border-radius: 5px;
  display: flex;
  padding: 5px 0;
  margin-bottom: 5px;
  transition: all 0.5s;
}
.bar__level {
  border-radius: 5px;

  justify-self: center;
  height: 10px;
  background-color: white;
  align-self: center;
}
.units__list {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-between;
}
.instruction {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  font-size: 2.8rem;
}
.loader__body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black-dark);
}
.loader {
  font-size: 2.4rem;
  width: max-content;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
